/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-display: swap; 
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v15-latin-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap; 
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/manrope-v15-latin-600.woff2') format('woff2');
  }
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Manrope",sans-serif;
    scroll-behavior: smooth;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    /* overflow-x: hidden; */
}
body{
    background: #000;

}
.container{
    margin: 0 auto;
    max-width: 1170px;
}

/* Header styles start */
.site-header {
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% 100%;   */
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.header-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100vh;
    padding: 50px 20px 100px;
}
.header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
}
.header-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32.78px;
    text-align: center;
    
}
.header-button-link{
    color: white;
    padding: 14px 62px;
    text-align: center;
    border: 2px solid    white;
    background: transparent;
}
.header-button-link:hover{
    color: rgb(11,24,32);
    background: white;
}
.header-button-link:active{
    color: rgb(11,24,32);
    background: white;
}
/* Header styles end */
img:hover{
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
}
/* Hero section styles start */
.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-section-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 100px;
}
.hero-item1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 42px;
}
.hero-item1-title {
    color: white;
    width: 528px;
}
.hero-item1-title h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 38.25px;
    text-align: left;
}
.hero-item1-title p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.hero-item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 42px;
}
.hero-item2-title h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 38.25px;
    text-align: left;
}
.hero-item2-title p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.hero-item2-title {
    color: white;
    width: 528px;
}
/* Hero section styles end */


/* Tility section styles start */
.tility-section {
    padding-bottom: 80px;
}
.tility-title {
    width: 972px;   
}
.tility-title h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 38.25px;
    color: white;
    text-align: left;
    margin-bottom: 16px;
}
.tility-title p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: white;    
    margin-bottom: 16px;
}
/* Tility section styles end */


/* Storage section styles start */
.storage-section{
    padding-bottom: 31px;
}
.storage-title{
    width: 972px;
}
.storage-title h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 38.25px;
    color: white;
    text-align: left;
    margin-bottom: 16px;
}
.storage-title p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: white;    
    margin-bottom: 16px;
}
/* Storage section styles end */

/* Performance styles start  */
.performance-section{
    padding: 169px 0 70px;
    background-image: url("../images/performance-bg.png");
    background-size: 500px 1000px;
    background-position: right center;
    background-repeat: no-repeat;
}
.performance-title{
    width: 972px;
}
img{
    z-index: 2;
}
.performance-title h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 38.25px;
    color: white;
    text-align: left;
    margin-bottom: 16px;
}
.performance-section p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: white;    
    margin-bottom: 16px;
}
/* Performance styles endi */

.site-footer{
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 797px 336px;
    background-position:center;
    padding: 150px 0 200px;
}
.site-footer a{
    position: fixed;    
    right: 135px;
    bottom: 100px;
    /* z-index: -1; */
}