*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Manrope",sans-serif;
    scroll-behavior: smooth;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    /* overflow-x: hidden; */
}
body{
    background: #000;

}
.container{
    margin: 0 auto;
    max-width: 1170px;
}